body{
    font-family:serif;
    font-size:20px;
    margin:0px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-right:10px;
    overflow: hidden;
    font-size:25px;
}
    li {
        float:right;
        border-color:white;
        border-style:hidden;
    }
    li a {
        display:block;
        color:white;
        font-weight:bold;
        text-align:center;
        margin:20px;
        text-decoration: none;
    }
div.headerBackgroundImage{
    background: url(/images/homepagesunset.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom:180px;
}
h1 {
    color:white;
    font-size: 80px;
    text-align:center;
    border-style:double;
    border-color:#ffffff;
    margin: 53.6px 240px;
    font-family:Barrio;
}
h2 {
    color:#000000;
    font-style:bold;
    font-size: 32px;
}
div.welcomeBox {
    margin-left:20px;
    text-align:left;
}
