body{
    font-family:serif;
    font-size:20px;
    margin:0px;
}
a:link{
    color:#000000;
}
a:visited{
    color:#000000;
}
a:hover{
    background-color:#eeeeee;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-right:10px;
    overflow: hidden;
    top: 9px;
    font-size:25px;
    width:100%;
}
    li{
        float:right;
        color:white;
    }
    li a {
        display:block;
        color:white;
        font-weight:bold;
        text-align:center;
        margin:20px;
        text-decoration:none;
    }
    li a:hover{
        border-style:solid;
        border-color:#ffffff;
        background-color:#cdcaf6;
        padding:10px;
        margin:0px;
    }
    li a:link{
        color:#ffffff;
    }
    li a:visited{
        color:#ffffff;
    }
div.headerBlueBackground{
    background-color:#cdcaf6;
    padding-bottom:80px;
}
h1 {
    color:white;
    font-size: 80px;
    text-align:center;
    background-color:#cdcaf6;
    font-family:Barrio;
    border-style:double;
    border-color:#ffffff;
    margin:53.6px 240px;
}
div.personalInfo{
    text-align:center;
    color:#713e99;
}
div.blogInspirationTable table{
    width:100%;
}
    div.blogInspirationTable th{
        color:#edaaf6;
        font-weight:bold;
        font-size:45px;
        text-align:center;
    }
    div.blogInspirationTable td{
        text-align:center;
        width:150px;
        vertical-align:top;
        padding-top:10px;
    }
        div.blogInspirationTable td img {
            vertical-align:middle;
        }
div.postSubHeader h2{
    margin:20px 20px 0px;
    text-decoration:underline;
    font-family:Barrio;
    text-align:left;
    font-size:50px;
    color:black;
    }
div.postBody{
    margin:20px;
    margin-bottom:40px;
}
div.blogCommentForm{
    margin-top:10px;
    margin-bottom:0px;
}
    div.blogCommentForm h3{
        font-weight:bold;
        margin-bottom:0px;
        margin-left:0px;
    }
div.postComment {
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
    border-style:solid;
    border-color:#adeaf6;
}
div.allPostComments {
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    padding-top:10px;
    border-style:solid;
    border-color:#adeaf6;
}
    div.allPostComments:hover{
        background-color:#adeaf6;
        opacity:0.4;
        font-weight:bold;
    }
div.commentNumber{
    border-style:solid;
    border-radius:50%;
    text-align:center;
    display:inline;
    padding:5px;
    margin-left:3px;
}
div.nameComment{
    margin-top:10px;
}
    div.nameComment table{
        display:inline;
        max-width:110px;
    }
    div.nameComment tr{
        vertical-align: top;
    }
    div.NameComment th{
        text-align:left;
        width:50%;
        font-weight:bold;
        vertical-align: top;
        overflow:hidden;
        font-size:22px;
    }
h3 {
    margin-left:20px;
    margin-bottom:5px;
}
div.blogListeningImages{
    width:100%;
}
div.blogListeningImages img{
    width:31%;
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    position:relative;
}
div.resume{
    text-align:center;
    font-size:30px;
}
div.sayHelloInformation{
    text-align:center;
    font-size:30px;
}
div.sendMessageForm{
    text-align:center;
}
    div.sendMessageForm input[type=text]{
        padding:12px 20px;
        font-size:22px;
        margin:8px 0px;
        border:none;
        border-bottom:2px solid black;
    }
    div.sentMessageThanks{
        text-align:center;
        margin-top:20px;
    }
div.backNextOnViewPostPage{
    text-align:center;
}
    div.backNextOnViewPostPage table{
        width:100%;
        bottom:0px;
        font-size:30px;
        padding-top:10px;
        overflow:hidden;
    }
    div.backNextOnViewPostPage th{
        width:400px;
    }
