body{
    font-family:serif;
    font-size:20px;
    margin:0px;
}
a:link{
    color:#000000;
}
a:visited{
    color:#000000;
}
a:hover{
    background-color:#eeeeee;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-right:10px;
    overflow: hidden;
    top: 9px;
    font-size:25px;
    width:100%;
}
    li{
        float:right;
        color:white;
    }
    li a {
        display:block;
        color:white;
        font-weight:bold;
        text-align:center;
        margin:20px;
        text-decoration:none;
    }
    li a:hover{
        border-style:solid;
        border-color:#ffffff;
        background-color:#a8c9ff;
        padding:10px;
        margin:0px;
    }
    li a:link{
        color:#ffffff;
    }
    li a:visited{
        color:#ffffff;
    }
div.headerBlueBackground{
    background-color:#a8c9ff;
    padding-bottom:130px;
}
h1 {
    color:white;
    font-size: 80px;
    text-align:center;
    background-color:#a8c9ff;
    font-family:Barrio;
    border-style:double;
    border-color:#ffffff;
    margin:53.6px 240px;
}
div.personalInfo{
    text-align:center;
    color:#713e99;
}
div.blogInspirationTable table{
    width:100%;
}
    div.blogInspirationTable th{
        color:blue;
        font-weight:bold;
        font-size:45px;
        text-align:center;
    }
    div.blogInspirationTable td{
        text-align:center;
        width:150px;
    }
div.postSubHeader h2{
    margin:20px 20px 0px;
    text-decoration:underline;
    font-family:Barrio;
    text-align:left;
    font-size:50px;
    color:black;
    }
div.postBody{
    margin:20px;
}
div.resume{
    text-align:center;
    font-size:30px;
}
div.sayHelloInformation{
    text-align:center;
    font-size:30px;
}
div.backNextOnViewPostPage{
    text-align:center;
}
    div.backNextOnViewPostPage table{
        width:100%;
        position:absolute;
        bottom:0px;
        font-size:30px;
    }
    div.backNextOnViewPostPage th{
        width:400px;
    }
