
    h2 {
    color:#27ae60;
    border-bottom:3px dashed #ccc;
    font-style:bold;
    font-size: 32px;
    }
body{
    font-family:serif;
    font-size:15px;
}
div.headerbluebackground{
    background-color:#a8c9ff;
}
div.blogbox{
    float:left;
    display:inline;
    margin:0px 100px;
    text-align:center;
}
div.inspobox{
    float:right;
    display:inline;
    margin:0px 100px;
    text-align:center;
}
h1 {
    color:white;
    padding:50px 50px 100px;
    font-size: 60px;
    text-align:center;
    border-style:solid;
    border-color:#a8c9ff;
    background-color:#a8c9ff;
    margin:0px;
}
h2 {
    color:blue;
    font-style:bold;
    font-size: 32px;
}
h3 {
    color:blue;
    font-style:bold;
    font-size:32px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-right:10px;
    overflow: hidden;
    top: 9px;
    font-size:25px;
    width:100%
}
    li{
        float:right;
    }
    li a {
        display:block;
        color:white;
        font-weight:bold;
        text-align:center;
        margin:20px;
        text-decoration: none;
    }
    li a:hover{
        border-style:solid;
        border-color:#ffffff;
        padding:10px;
        margin:0px;
    }
